* {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-image: linear-gradient(90deg, rgb(0,0,90) 0%, rgb(28,181,224)100%);
}

/* NAVBAR */

.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 65px;
  background-color: #3546e2;
}

.navbar-nav {
  display: flex;
  list-style-type: none;
  text-align: center;
}

.navbar-nav-list {
  border-radius: 15px;
  margin: 10px;
  padding: 20px 50px;
  color: white;
  background-color: #5585ff;
}

.navbar-nav li {
  display: flex;
  align-items: center;
  height: 30px;
}

.link-style {
  text-decoration: none;
}

.navbar-nav li .link-style {
  text-decoration: none;
  color: white;
}

.navbar-nav li .link-style:hover {
  color: #f2f2f2;
  transition: 300ms ease;
  -webkit-transition: 300ms ease;
  -moz-transition: 300ms ease;
  -ms-transition: 300ms ease;
  -o-transition: 300ms ease;
}

/* NAVBAR END */

/* FORM START */

.login-page {
  width: 360px;
  padding: 8% 0 0;
  margin: auto;
}
.form {
  border-radius: 15px;
  position: fixed;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: 0 auto;
  padding: 45px;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}
.form input {
  border-radius: 15px;
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}
.form button,
.form .register-btn {
  border-radius: 15px;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #5585ff;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #ffffff;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}


.form button:hover,.form button:active,.form button:focus, .form .register-btn:hover, .form .register-btn:active, .form .register-btn:focus {
  background: #3546e2;
  transition: 300ms ease;
  -webkit-transition: 300ms ease;
  -moz-transition: 300ms ease;
  -ms-transition: 300ms ease;
  -o-transition: 300ms ease;
}

/* FORM END */

/* DUTY */

.welcome {
  text-align: center;
  padding-top: 15px;
  color: white;
}

.duty-container {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
  gap: 15px;
  width: 360px;
  margin: 1% auto;
}

.duty-items,
.duty-side {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;
  border: 1px black solid;
  padding: 40px;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}


.duty-side-items {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;
}

.duty-time,
.duty-end-date,
.duty-time-all,
.logout-btn,
.duty-starts-form-submit,
.duty-ends-btn,
.leaderboard-btn,
.report-btn {
  text-align: center;
  width: 370px;
  height: 40px;
  background-color: lightgray;
  padding: 10px;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}

.leaderboard-btn,
.report-btn{
  text-align: center;
  text-decoration: none;
  color: white;
  background-color: #5585ff;
  border: none;
  font-size: 16px;
}

.duty-starts-form-submit,
.logout-btn,
.duty-ends-btn {
  color: white;
  border: none;
  width: 370px;
  font-size: 16px;
}

 .duty-ends-btn,
 .logout-btn {
  background-color: #ff002b;
}

.duty-starts-form-submit {
  background-color: green;
}

.duty-ends-btn:hover, 
.duty-ends-btn:active, 
.duty-ends-btn:focus, 
.logout-btn:hover, 
.logout-btn:active, 
.logout-btn:focus, 
.duty-starts-form-submit:hover, 
.duty-starts-form-submit:active, 
.duty-starts-form-submit:focus,
.leaderboard-btn:hover,
.leaderboard-btn:active,
.leaderboard-btn:active,
.report-btn:hover,
.report-btn:active,
.register-btn:focus,
.archived:hover, 
.archived:active, 
.archived:focus {
  opacity: 0.8;
  transition: 300ms ease;
  -webkit-transition: 300ms ease;
  -moz-transition: 300ms ease;
  -ms-transition: 300ms ease;
  -o-transition: 300ms ease;
}

/* DUTY END */

/* LEADERBOARD START */

.archived-date {
  display: block;
  margin: 1% auto;
  width: 150px;
 text-align: center;
 border: 1px solid #ffffff;
 padding: 10px;
 font-size: 16px;
 color: white;
}

.archived-container {
  display: flex;
}

table.table {
  margin: 1% auto;
  background-color: #5585ff;
  width: 450px;
  text-align: left;
  border-collapse: collapse;
  color: white;
}
table.table td, table.table th, .archived-date {
  border: 1px solid #ffffff;
  padding: 10px;
}
table.table tbody td {
  font-size: 16px;
}

table.table .time {
  text-align: right;
}

table.table tr:nth-child(even) {
  background: #5585ff;
}
table.table thead, .archived-date {
  background: #3546e2;
  background: -moz-linear-gradient(top, #3546e2 0%, #5585ff 100%);
  background: -webkit-linear-gradient(top, #3546e2 0%, #5585ff 100%);
  background: linear-gradient(to bottom, #3546e2 0%, #5585ff 100%);
  border-bottom: 2px solid #ffffff;
}
table.table thead th {
  font-size: 20px;
  font-weight: bold;
  color: #FFFFFF;
  border-left: 2px solid #ffffff;
  text-align: center;
}
table.table thead th:first-child {
  border-left: none;
}

.archived {
  margin: 1% auto;
  padding: 10px;
  width: 200px;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: white;
  background-color: #3546e2;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}

/* LEADERBOARD END */

/* maintenance-text */

.maintenance-text {
  margin-top: 1%;
  text-align: center;
}

/* maintenance-text */


/* QUERIES */

@media screen and (max-width: 430px) {
  .login-page,
  .form,
  .duty-container,
  .duty-time,
  .duty-end-date,
  .duty-time-all,
  .logout-btn,
  .duty-starts-form-submit,
  .duty-ends-btn,
  .duty-side-items,
  .report-btn,
  .leaderboard-btn,
  table.table
   {
    width: 285px;
  }

  .duty-container,
  .duty-time,
  .duty-end-date,
  .duty-time-all,
  .logout-btn,
  .duty-starts-form-submit,
  .duty-ends-btn,
  .report-btn,
  .leaderboard-btn,
  table.table tbody td  {
    font-size: 12.4px;
  }

  table.table td, table.table th {
    padding: 8px;
  }

}

@media screen and (max-width: 300px) {
  table.table
   {
    width: 250px;
  }
}


@media screen and (max-width: 900px) {
  .duty-container {
    flex-direction: column;
  }

  .duty-items,
  .duty-side {
    margin-top: 10px;
    padding: 35px;
  }

}

/* For larger screens */
@media screen and (min-width: 951px) {
  .archived-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Display three columns on larger screens */
    gap: 10px;
    justify-items: center;
  }

  .archived-date {
    width: auto;
    padding: 10px;
    font-size: 14px;
  }

  table.table {
    width: 95%;
    font-size: 14px;
  }

  table.table td,
  table.table th {
    padding: 8px;
  }
}

/* For smaller screens */
@media screen and (max-width: 950px) {
  .archived-container {
    display: block; /* Display as a block on smaller screens */
    text-align: center; /* Center items horizontally */
  }

  .archived-date {
    width: auto;
    padding: 10px;
    font-size: 14px;
  }

  table.table {
    width: 95%;
    font-size: 14px;
  }

  table.table td,
  table.table th {
    padding: 8px;
  }
}
